name: Benchmark-pr

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - run: |
        pushd ./benchmarks/BenchmarkProj/
        dotnet run --configuration Release -- --filter '*' --exporters json
        popd
      name: Run benchmark

    # gh-pages branch is updated and pushed automatically with extracted benchmark data
    - name: Store benchmark result
      uses: benchmark-action/github-action-benchmark@v1
      with:
        name: History of benchmarks
        tool: 'benchmarkdotnet'
        output-file-path: benchmarks/BenchmarkProj/BenchmarkDotNet.Artifacts/results/BenchmarkProj.Benchmarks-report-full-compressed.json
        # Access token to deploy GitHub Pages branch
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Push and deploy GitHub pages branch automatically
        auto-push: false
        summary-always: true
        alert-threshold: '120%'
        fail-on-alert: true
